<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AppDb" connectionString="Server=localhost\SQLEXPRESS;Database=TradsApp;User Id={0};Password={1};"/>
	</connectionStrings>
	<appSettings>
		<add key="DataPage" value="https://www.boerse-stuttgart.de/de-de/produkte/aktien/stuttgart/766403-volkswagen/times-and-sales"/>
	</appSettings>
</configuration>